.header-div {
  background-color: blueviolet;
  text-align: center;
  padding: 20px;
  color: white;
}
.nav-link {
  color: white;
  text-decoration: none;
  margin: 20px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

.active {
  background-color: rgb(96, 7, 180);
}
